/* Main page style */
h2 {
  color: red;
}

button {
  padding: 10px;
  background-color: #df847a;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
}

button:hover {
  background-color: #000000;
  color: #df847a;
}

/* Style pour les tableaux */
table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: center;
}

/* List style */
li {
  padding: 8px 0;
}

/* Image style */
img {
  width: calc(33.33% - 20px);
  border: 2px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
  margin-top: 50px;
  margin-right: 10px;
}
