/* Style general : */
h1 {
  text-decoration: underline;
  text-align: center;
}
h2 {
  color: rgb(6, 67, 6);
}

.exercice {
    border: 5px solid #949090; 
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px; 
}

/* Exercice 6:*/
#result6 {
  margin-top: 10px;
}

/* Exercice 7:*/
#menu {
  display: none;
  padding: 5px;
  padding-right: 5px;
  margin-top: 5px;
  background-color: #9de2aa;
  border: 2px solid #0f0d0d;
  border-radius: 10px;
  width: 20%;
}
